.topBanner{
    background-color: #5588D3;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0px;
    z-index: 100000000;
    width: 100%;
    text-align: center;
   
   
}
.topBanner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBanner-container button{
    color: white;
    margin-top: -8px;
    background-color: #1d2a3b;
    padding: 5px 11px;
    margin-left: 14px;
    text-decoration: none;
    height: 50px;
}

.logosection{
    margin-top: 110px;
    display: flex;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.logo{
    width: 150px;
    height: 30px;
}

.top-menu ul li{
    display: inline-block;
    margin: 0 15px;
    list-style-type:none ;
}
.main-menu ul li{
    display: inline-block;
    margin: 0 15px;
    list-style-type:none ;
}
.main-banner{
    display: flex;
    background-color: #CCEDFF;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner-child1{
   max-width: 40%;
   padding-left: 40px;
   padding-top: 50px;
}

.line1{
  font-size: 20px;
  font-weight: 200px;
}

.line2{
  font-size: 50px;
  font-weight: 800px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.line3{
  font-size: 20px;
  font-weight: 200px;
}
   
.banner-child2{
   
}

.main-banner h1{
    font-size: 4rem;
    line-height: 4.8rem;
}

.points{
    display: flex;
    align-items: center;
    margin-top: 30px;
  
}

.points h3{
  font-size: 15px;
  padding-left: 5px;
}

.points img{
  width: 30px;
  height: 25px;
}

.point_icons{
  padding-left: 10px;
}

.banner-img{
    width: 100%;
}

.nav-item{
    margin: 0 12px;
}
#button1{

    background-color: #2c76dc;
    border: 1px solid #2c76dc;
    color: #fff;
    margin-top:30px
}

#button1:hover{
    background-color: #1A4884;
}

.section2{
    display: flex;
    justify-content:space-between;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid black;
    flex-wrap: wrap;
}

.mycard{
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: #fff !important;
}

.mcard1{
    border-right: 1px solid black;
}

.mcard2{
    border-right: 1px solid black;
}

@media screen and (max-width: 480px) {
    
        .mcard1{
            border-right: 1px solid white;
        }
        
        .mcard2{
            border-right: 1px solid white;
        }
        
        .mycard{
           
            border-color: #fff !important;
        }
    
  }
  
  
  .section3{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
  }

  .sect3text {
    text-align: center;
   color: black;

  }

  .sect3text2 {
    text-align: center;
   color: black;
   font-size: 70px;
   font-weight: 900;
   font-family:serif;
   width: 800px;
   margin-left: 20px;
  }

  .sect3text3{
    text-align: center;
   color: black;
   font-weight: 400;
   font-size: 25px;
   width: 700px;
   margin-left: 90px;
  }

  .sect3text4{
    text-align: center;
    color: black;
    font-weight: 600;
    padding-top: 30px;
  }




  .cta-button h2{
    font-family: proxima-nova,sans-serif;
    
    text-align: center;
    text-decoration: none;
    background: none;
    border: unset;
    width: auto;
    
    display: inline-block;
    font-weight: 600;
    transition: all .2s ease-in-out;

    border-bottom: .3rem solid #2c76dc;
    color: #2c76dc;
    font-size: 2.0rem;
    line-height: 2.0rem;

    margin-left: 239px;
    padding-top: 30px;
  }

  .section4{
    
    background-color: #84c0fc;
    color: #1d2a3b;
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .section4_child{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
  }

 

  .searchboxsection{
    padding-left: 50px;
    padding-right: 50px;
  }

  #combutton{
    background: white;
  }

  #combutton:hover{
   color: black;
  }

  .search_button{
    border-radius: .2rem;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    
    text-align: center;
    
    transition: all .5s ease;
    position: relative;
    background-color: #1d2a3b;
   
    border: 1px solid #1d2a3b;
    color: #fff;
    
    justify-content: center;
    line-height: 3rem;
    flex-basis: auto;
    margin: 0;
    
    font-size: 1.4rem;
    height: 50px;
    padding: 0.2rem 3.5rem;

    margin-left: 25px;
  }

  .section5_container{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section5_container_1{
    text-align: center;
  }

  section5_container_1 h1{
    font-family: serif;
    font-weight: 900;
    font-size: 50px;
  }

  .section5_cards{
    display: flex;

  }

  .section5_card1{
    padding: 30px 30px 30px 30px;
  }

  .section5_card1 h1 {
    margin-bottom: -20px;
  }

  .section5_img{
    max-width: 100%;
  }

  .section6_container{
   
    background-color: #f0faff;
    justify-content: center;
    align-items: center;
  }

  .section6_container_col1{
    margin-top: 60px;
  }

  .section6_container_col1 h1{
    font-family: serif;
    font-weight: 900;
    font-size: 60px;
  }

  .section6_container_col1 h3{
    
    font-weight: 600;
    font-size: 20px;
  }

  .col-8{
    background-color: #4A83D8;
  }

  .col-4{
    background-color: #196BDE;
  }

  .container footer{
    margin-left: -100px;
  }
  
  .myrow2{
    
  }

  .col-2 ul li{
    text-decoration: none;
    list-style: none;
  }

  .footer_container{
    color: white;
  }
  
  .fa {
    padding-right: 30px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .text-muted{
    padding-top: 20px;
    font-family:  sans-serif;
  }


  .section4_child_col1 p{
    font-weight: 100;
    font-size: 25px;
  }

  
  .section4_child_col1 h1{
    font-weight:900;
    font-size: 60px;
    font-family: serif;
  }

  .section4_child_col2 p{
    font-weight: 300;
    font-size: 25px;
  }

  #footerelement{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #footerelement ul li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footerright{
    margin-top: 120px;
    margin-left: 30px;
  }